html {
  /* font type for the entire site */
  font-family: arial;
  height: 100%;
  width: 100%;
}



body {
  /* font type for the entire site */
  font-family: arial;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows:;
}



/* for desktop */



  /* formatting for the navigation bar */
  .navBar {
    position: fixed;
    top: 2;
    color: white;
    width: 100%;
  }
  .navBar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: white solid 2px;
    padding: 1%;
    background-color: #413B3B;
    width: 100px;
    text-align: center;
  }
  .navBar a:hover {
    background-color: grey;
  }
  /* formatting for the navigation bar complete



  /* formatting for the home section */
  .homeSection {
    background-image: url(images/HomeBackgroundPhoto4.jpg);
    background-size: cover;
  }
  .homeTitle {
    color: white;
    text-align: center;
    padding-top: 18%;
  }
  .homeSection h3 {
    text-align: center;
    color: white;
    padding-bottom: 3%;
  }
  .homePageButton {
    border: 2px solid white;
    width: 20%;
    padding: 2%;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    text-decoration: none;
  }
  .homePageButton:hover {
    background-color: grey;
  }
  .buttonDivider {
    padding: 5px;
  }
  .homePageDivider {
    padding: 18%;
  }
  /* formatting for the home section complete */



  /* formatting for the experience section */
  .experienceSection {
    background-color: #f2f2f2;
  }
  .experienceTitle {
    padding-top: 2.5%;
    padding-left: 2.5%;
  }
  .expPara {
    width: 40%;
    float: left;
    padding: 0 6px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .expPara h2 {
    text-align: center;
    padding: 2%;
  }
  .expPara a {
    text-align: left;
  }
  .experienceDivider {
    padding: 5%;
  }
  /* formatting for the experience section complete */



  /* formatting for the education section */
  .educationSection {
    background-image: url(images/PhotoOfToronto.jpg);
    background-size: cover;
  }
  .educationTitle {
    color: white;
    padding-top: 2.5%;
    padding-left: 2.5%;
  }
  .edPara {
    color: white;
    width: 40%;
    float: left;
    padding: 0 6px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .edPara h2 {
    text-align: center;
    padding: 2%;
  }
  .edPara a {
    text-align: left;
  }
  .educationDivider {
    padding: 10%;
  }
  /* formatting for the education section */



  /* formatting for the travel section */
  .travelSection {
    background-color: #413B3B;
  }
  .travelTitle {
    color: white;
    padding-left: 2.5%;
    padding-top: 2.5%;
  }
  .travelGallery {
    padding: 0 6px;
    float: left;
    width: 20%;
    padding: 2.5%;
  }
  .gpicture img {
    width: 98%;
    height: auto;
    border: 1px solid white;
  }
  .picDesc {
    text-align: center;
    color: white;
  }
  /* formatting for the travel section complete */



  /* formatting for the contact section */
  .contactSection {
    background: radial-gradient(#12bcab, #049b8c);
  }
  .contactTitle {
    color: white;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    display: none;
  }
  /* instagram, facebook, phone... */
  .contactItems {
    padding-left: 15%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: grid;
    grid-template-columns: 30% 30% 30%;;
    grid-gap: 3.3%;
  }
  /* the contact icons and text beside */
  .contactItem a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 15% 40%;
    padding-bottom: 5%;
  }
  /* formatting for the contact section complete */



/* desktop formatting complete */


/* for mobile */
@media only screen and (max-width: 767px) {



  /* formatting for the navigation bar */
  .navBar {
    position: fixed;
    top: 2;
    color: white;
    width: 97%;
    text-align: center;
  }
  .navBar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: white solid 2px;
    padding: 2%;
    background-color: #413B3B;
    width: 70px;
    text-align: center;
    font-size: 13px;
  }
  .navBar a:hover {
    background-color: grey;
  }
  /* formatting for the navigation bar complete */



  /* formatting for the home section */
  .homeTitle {
    /* text colour for the page title */
    color: white;
    /* creates space around the title */
    text-align: center;
    padding-top: 25%;
  }
  .homeSection p {
    padding-bottom: 2%;
    text-align: center;
    color: white;
  }
  /* formatting for the home section complete */



  /* formatting for the experience section */
  .experienceSection {
    background-color: #f2f2f2;
  }
  .experienceTitle {
    text-align: center;
  }
  .expPara {
    width: 75%;
    float: left;
    padding: 0 6px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .expPara h2 {
    text-align: center;
    padding: 2%;
  }
  .expPara a {
    text-align: left;
  }
  .experienceDivider {
    padding: 5%;
  }
  /* formatting for the experience section complete */



  /* formatting for the education section */
  .educationSection {
    background-image: url(images/PhotoOfToronto.jpg);
    background-size: cover;
  }
  .educationTitle {
    text-align: center;
  }
  .edPara {
    color: white;
    width: 75%;
    float: left;
    padding: 0 6px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .edPara h2 {
    text-align: center;
    padding: 2%;
  }
  .edPara a {
    text-align: left;
  }
  .educationDivider {
    padding: 5%;
  }
  /* formatting for the education section complete */



  /* formatting for the travel section */
  .travelSection {
    background-color: #413B3B;
    width: 100%
  }
  .travelTitle {
    color: white;
    text-align: center;
  }
  .travelGallery {
    width: 90%;
    padding-left: 6%;
    padding-bottom: 10%;
  }
  /* formatting for the travel section complete */



  /* formatting for the contact section */
  .contactSection {
    background: radial-gradient(#12bcab, #049b8c);
    color: white;
    height: 625px;
  }
  .contactTitle {
    color: white;
    text-align: center;
    padding-top: 10%;
    display: block;
  }
  /* instagram, facebook, phone... */
  .contactItems {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10%;
    padding-bottom: 20%;
    padding-right: 5%;
  }
  /* the contact icons and text beside */
  .contactItem a {
    font-size: 20px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: center;
  }
  /* formatting for contact section complete */



}
/* mobile formatting complete */
