html {
  font-size: 2vw;
  font-style: normal;
  font-family: "Lato", sans-serif;
  background: radial-gradient(#12bcab, #049b8c);
}

.container {
  display: grid;
  grid-template-rows: 20vh 76.2vh;
  grid-gap: 2vh 2vw;
}

.pictureBox {
}

.menuBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25vw;
}

.menuItem {
  background-color: #e6e6e6;
  text-align: center;
  font-weight: bold;
}

.menuItem a {
  position: relative;
  display: block;
  padding: auto;
  color: black;
  height: 32.5%;
}

.menuItem:hover {
  background-color: #b3b3b3;
}

img {
  align-self: center;
}

.bodyBox {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-gap: 0.25vw;
  background-color: #008080;
}

.contentItem {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-gap: 0.25vw;
}

.imageItem img {
  border: solid white 5px;
  height: 60%;
  width: 90%;
}

.imageItem {
  padding-left: 10%;
  padding-top: 3%;
}

.explainItem p {
  color: white;
  padding-left: 10%;
}

.aboutItem {
  background-color: #737373;
  text-align: left;
}

.aboutItem a {
  font-size: 2vh;
  padding-left: 5%;
}

.contactBodyBox {
  background-color: #e6e6e6;
  display: grid;
  grid-template-rows: 20vh 30vh;
  grid-gap: 2vh;
}

.contactBodyBox h1 {
  text-align: center;
  padding-right: 5%;
  color: black;
}

.iconBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.iconItem a {
  align-self: center;
  height: 20px;
  width: 5vw;
  padding-top: 5vh;
  padding-left: 13vw;
  color: black;

}

h1 {
  text-align: left;
  font-weight: bold;
  padding-left: 5%;
  color: #e6e6e6;
}

h6 {
  color: #e6e6e6;
  text-align: left;
  padding-left: 5%
}
